<a href="https://colab.research.google.com/github/yohanes-erwin/notebook/blob/main/pandas_series_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Membuat Series dari list

In [2]:
obj = pd.Series([1, "John", 3.5, "Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

Mengambil satu elemen dari Series

In [3]:
obj[0]

1

In [4]:
obj[1]

'John'

Mengambil semua elemen dari Series

In [5]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

Membuat Series dari list dengan custom index

In [6]:
obj2 = pd.Series([1, "John", 3.5, "Hey"], index=["a", "b", "c", "d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [7]:
obj2["a"]

1

In [8]:
obj2["b"]

'John'

Mengambil semua index dari Series

In [9]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Membuat Series dari dictionary

In [10]:
score = {"Jane":90, "Bill":80, "Elon":85, "Tom":75, "Tim":95}
names = pd.Series(score) # Convert to Series
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [11]:
names["Tim"]

95

Mengambil elemen dengan kondisi

In [12]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

Mengubah elemen tertentu

In [13]:
names["Tom"] = 60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

Mengubah elemen dengan kondisi

In [14]:
names[names<=80] = 83
names

Jane    90
Bill    83
Elon    85
Tom     83
Tim     95
dtype: int64

Pencarian elemen

In [15]:
"Tom" in names

True

In [16]:
"Can" in names

False

Operasi matematika pada Series

In [17]:
names/10

Jane    9.0
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [18]:
names**2

Jane    8100
Bill    6889
Elon    7225
Tom     6889
Tim     9025
dtype: int64

Pengecekan null

In [19]:
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool